.btn_ad {
    button {
        background:#00743a!important;
        border-color:#00743a!important;
    }
}

.btn_alqia {
    button {
        background:#81a48c!important;
        border-color:#81a48c!important;
    }
}

.btn_argo {
    button {
        background:#006d88!important;
        border-color:#006d88!important;
    }
}

.btn_ancar {
    button {
        background:#af2431!important;
        border-color:#af2431!important;
    }
}

.btn_carrefour {
    button {
        background:#a61260!important;
        border-color:#a61260!important;
    }
}

.btn_2rb {
    button {
        background:#132651!important;
        border-color:#132651!important;
    }
}

.btn_paguemenos {
    button {
        background:#0053aa!important;
        border-color:#0053aa!important;
    }
}

.btn_malltech {
    button {
        background:#ed315d!important;
        border-color:#ed315d!important;
    }
}

.btn_anossadrogaria {
    button {
        background:#034277!important;
        border-color:#034277!important;
    }
}

.btn_profarma {
    button {
        background:#00a8ac!important;
        border-color:#00a8ac!important;
    }
}

.btn_redecristina {
    button {
        background:#1e958c!important;
        border-color:#1e958c!important;
    }
}

.btn_redecruzeiro {
    button {
        background:#004689!important;
        border-color:#004689!important;
    }
}

.btn_rededrogaven {
    button {
        background:#df1a2a!important;
        border-color:#df1a2a!important;
    }
}

.btn_natusfarma {
    button {
        background:#0080c1!important;
        border-color:#0080c1!important;
    }
}

.btn_rededrogal {
    button {
        background:#173e70!important;
        border-color:#173e70!important;
    }
}

.btn_gelaboca {
    button {
        background:#e61384!important;
        border-color:#e61384!important;
    }
}

.btn_grupohs {
    button {
        background:#740f18!important;
        border-color:#740f18!important;
    }
}

.btn_grupoincense {
    button {
        background:#e16a32!important;
        border-color:#e16a32!important;
    }
}

.btn_loccitane {
    button {
        background:#b2182c!important;
        border-color:#b2182c!important;
    }
}

.swiper.swiper_auth:not(.panel){
    .swiper-slide {
        min-width:0!important;
    }
}