.container {
    display:flex;
    gap:20px;

   ul.sidebar {
      list-style:none;
      margin:0;
      padding:0;
      min-width:250px;
      max-width:300px;
      max-height:calc(100vh - 125px);
      overflow-y:auto;

      ul {
        list-style:none;
        margin:0;
        padding:0;
        margin-top:10px;
      }

      li{
        color:#576475;
        margin-bottom:10px;

        span {
          display:flex;
          justify-content:space-between;
          gap: 15px;
        }

        &:last-child {
          margin-bottom:0;
        }

        svg {
          margin-right:10px;
        }
      }
   } 
   
   >[class="infinite-scroll-component__outerdiv"] {
     flex:1;
     max-width:calc(100% - 270px);
   }
}