
.flex-d {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.2%;
}

.job-lista-chat-card {
    width: 30vw;
    height: 76.5vh;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

.job-lista-chat-user-title {
    height: 5.9vh;
    padding: 0 16px 0 16px;
    justify-self: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #f0f5f8;
    /* color: #10459E; */

}

.text-color-blue {
    color: #10459E;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.text-color-gray {
    color: #81878D;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.text-color-black {
    color: #3E4247;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.btn-lista-chat-card {
    display: flex;
    justify-content: end;
    margin-right: 2.5%;
}